<div class="resetpassword-container">
  <mat-card>
    <h1 class="text-white">Troca de senha</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width p-3">
        <mat-label>Nova senha</mat-label>
        <input matInput formControlName="newPassword" type="password" />
        @if (form.get('newPassword')?.hasError('required')) {
        <mat-error class="mt-3">A senha é obrigatória</mat-error>
        }
        @if(form.get('newPassword')?.hasError('minlength')) {
        <mat-error class="mt-2">
          A senha deve ter pelo menos 6 caracteres
        </mat-error>
        }
      </mat-form-field>

      <button matButton="outlined" class="full-width mt-4" type="submit">Alterar senha</button>
    </form>

  </mat-card>
</div>