.resetpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  mat-card {
    border: 1px solid black;
    width: 350px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    mat-error {
        color: red;
    }

    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .full-width {
      width: 100%;
    }
  }
}
